#root {
  font-family: cursive, sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar {
  width: 100%;
  height: 100px;
  background: #ee9ca7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eeb2b9, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eeb2b9, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.Links{
  padding: 40px;
}

.navBar a {
  float: left; /* Poravnanje linkova sa leve strane */
  display: block; /* Blok elementi za celi red linkova */
  color: white; /* Boja teksta */
  text-align: center; /* Poravnanje teksta u centar */
  padding: 14px 14px; /* Podešavanje razmaka između linkova */
  text-decoration: none; /* Uklonite podvučen tekst */
}

.footer {
  background-color: grey;
  color: black;
  padding:20px;
  text-align: center;
  position:fixed;
  width: 100%;
  bottom:0;
}

.knjige {
  background: black;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.sve-knjige {
  position: center;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.knjiga {
  border-radius: 50px;
  width: 300px;
  height: 350px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.razmak{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: red;
  border-style: dotted;
  padding: 10px;
  background: white; 
}

.opis{
  color: red;
  font-size: 15px;
  padding: 20px;
}

.slika {
  width: 150px;
}

